<h4><strong><%= user_info.provider.capitalize %></strong> Oauth Success</h4>

<section>
    <table>
        <tr>
            <td><strong>Token:</strong></td>
            <td><%= user_info.credentials.token %></td>
        </tr>
        <tr>
            <td><strong>Refresh Token:</strong></td>
            <td><%= user_info.credentials.refresh_token %></td>
        </tr>
        <tr>
            <td><strong>Expires:</strong></td>
            <td><%= user_info.credentials.expires %></td>
        </tr>
        <tr>
            <td><strong>Expires at:</strong></td>
            <td><%= user_info.credentials.expires_at %></td>
        </tr>
    </table>
</section>


<section>
  <code><%= user_info.extra.inspect %></code>
</section>

<%= link_to "Back to provider list", root_path %>
